/************   General   ************/

html, body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;

  .error-img {
    width: 100%;
  }

  #wrapper {
    min-height: calc(100vh - 58px);
    height: calc(100% - 58px);

    img {
      width: 100%;
    }
    .module-wrapper {
      padding: 10px;
      min-height: calc(100vh - 58px);
      height: 100%;
    }
  }
}

.navbar {
  margin-bottom: 0 !important;
}

#loader {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;

  &.loading {
    position: absolute;
    z-index: 12000;
    display: block;

    #overlay {
      background-color: #fff;
      opacity: 0.5;
      width: 100%;
      height: 100%;
    }
    img {
      position: absolute;
      width: 200px;
      height: 200px;
      top: calc(50vh - 100px);
      left: calc(50vw - 100px);
    }
  }
}

/************   Login   ************/

#login-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  height: 220px;
  margin: 200px auto;
  padding: 20px;
  border: 2px solid #555;
  border-radius: 20px;
  background: #fff;
  box-shadow: 10px 10px 10px grey;

  #login-name, #login-password {
    width: calc( 100% - 10px );
    padding: 5px;
    margin-bottom: 10px;
  }

  #login-btn {
    width: 100%;
  }
}

/************   Food-input   ************/

.food-input-module {
  background-color: #dff0d8;

  .food-select {
    min-width: 300px;
    max-width: 100%;
  }
  .food-select-row {
    margin-bottom: 20px;
  }
  .food-items-row {
    display: none;
  }
  #food-details {
    display: none;

    input {
      width: 300px;

      &:read-only {
        background-color: #ccc;
      }
    }
    label {
      margin-bottom: 1px;
    }
    .input-row {
      margin-bottom: 10px;
    }
  }
}

/************   rdi-input   ************/

.rdi-input-module {
  background-color: #f0ead8;

  .input-row {
    width: 100%;
    margin-bottom: 5px;
    overflow: hidden;

    .name_en {
      width: calc(100% - 45px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .unit {
      width: 40px;
    }
    .save {
      float: right;
    }
    input {
      float: left;

      &.name_sr {
        width: 250px;
        margin-right: 10px;
      }
      &.rdi {
        width: 60px;
        margin-right: 3px;
      }
    }
  }
}

/************   Indi-calc   ************/

.indi-calc-module {
  background-color: #ead8f0;

  .food-select {
    min-width: 300px;
    max-width: 100%;
  }
  .food-select-row {
    margin-bottom: 20px;
  }
  #food-details {
    display: none;

    input {
      width: 300px;
    }
    label {
      margin-bottom: 1px;
    }
    .input-row {
      margin-bottom: 10px;
      overflow: hidden;

      .half {
        width: 145px;
        float: left;

        &:first-child {
          margin-right: 10px;
        }
        input {
          width: 145px;
        }
      }
    }
  }
}

.indi-report-module {
  background-color: #ead8f0;

  #food-general {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-color: #ccc;
    border-style: solid;
    margin-bottom: 10px;
    overflow: hidden;

    h3 {
      margin-top: 0;
    }
    .left-box {
      float: left;
      width: 200px;
    }
    .right-box {
      float: right;
    }
  }
  .response-panel {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;

    #nutrients-table {
      margin-bottom: 0;

      .values-col {
        width: 200px;
      }
      .value-cell {
        padding: 0;
      }
      .group-label {
        background-color: #ccc;
        padding-left: 15px;
      }
      .n_full {
        display: none;
      }
      tr {
        td, th {
          padding: 3px 7px;
          color: #000;

          &.value-cell {
            .cell-histogram {
              position: absolute;
              height: 26px;
              background-color: #c0d8f0;
            }
            .cell-content {
              position: absolute;
              width: 200px;
              padding: 3px 7px 2px 7px;

              .left {
                float: left;
              }
              .right {
                float: right;
              }
            }
          }
        }
      }
    }
  }
}



#input-container {
  margin: 10px;
  padding: 10px;
  border: 3px ridge #555;
}

#tasks-container {
  margin: 10px;
  padding: 10px;
  border: 3px ridge #555;
}

.row {
  height: 20px;
  padding: 5px;
  width: calc( 100% - 10px );
  &:nth-child(even) {
    background-color: #def;
  }
  input {
    width: 20px;
    float: left;
  }
  div {
    float: left;
  }
}

.done {
  color: #777;
  text-decoration: line-through;
}

#logout {
  float: right;
}
