/************   General   ************/
html, body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0; }
  html .error-img, body .error-img {
    width: 100%; }
  html #wrapper, body #wrapper {
    min-height: calc(100vh - 58px);
    height: calc(100% - 58px); }
    html #wrapper img, body #wrapper img {
      width: 100%; }
    html #wrapper .module-wrapper, body #wrapper .module-wrapper {
      padding: 10px;
      min-height: calc(100vh - 58px);
      height: 100%; }

.navbar {
  margin-bottom: 0 !important; }

#loader {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none; }
  #loader.loading {
    position: absolute;
    z-index: 12000;
    display: block; }
    #loader.loading #overlay {
      background-color: #fff;
      opacity: 0.5;
      width: 100%;
      height: 100%; }
    #loader.loading img {
      position: absolute;
      width: 200px;
      height: 200px;
      top: calc(50vh - 100px);
      left: calc(50vw - 100px); }

/************   Login   ************/
#login-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  height: 220px;
  margin: 200px auto;
  padding: 20px;
  border: 2px solid #555;
  border-radius: 20px;
  background: #fff;
  box-shadow: 10px 10px 10px grey; }
  #login-wrapper #login-name, #login-wrapper #login-password {
    width: calc( 100% - 10px );
    padding: 5px;
    margin-bottom: 10px; }
  #login-wrapper #login-btn {
    width: 100%; }

/************   Food-input   ************/
.food-input-module {
  background-color: #dff0d8; }
  .food-input-module .food-select {
    min-width: 300px;
    max-width: 100%; }
  .food-input-module .food-select-row {
    margin-bottom: 10px; }
  .food-input-module .food-items-row {
    display: none; }
  .food-input-module #food-details {
    display: none; }
    .food-input-module #food-details legend {
      margin-bottom: 5px; }
    .food-input-module #food-details input {
      width: 300px; }
      .food-input-module #food-details input:read-only {
        background-color: #ccc; }
    .food-input-module #food-details label {
      margin-bottom: 1px; }
    .food-input-module #food-details .input-row {
      margin-bottom: 10px; }

/************   rdi-input   ************/
.rdi-input-module {
  background-color: #f0ead8; }
  .rdi-input-module .input-row {
    width: 100%;
    margin-bottom: 5px;
    overflow: hidden; }
    .rdi-input-module .input-row .name_en {
      width: calc(100% - 45px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .rdi-input-module .input-row .unit {
      width: 40px; }
    .rdi-input-module .input-row .save {
      float: right; }
    .rdi-input-module .input-row input {
      float: left; }
      .rdi-input-module .input-row input.name_sr {
        width: 160px;
        margin-right: 10px; }
      .rdi-input-module .input-row input.rdi {
        width: 60px;
        margin-right: 3px; }

/************   Indi-calc   ************/
.indi-calc-module {
  background-color: #ead8f0; }
  .indi-calc-module .food-select {
    min-width: 300px;
    max-width: 100%; }
  .indi-calc-module .food-select-row {
    margin-bottom: 10px; }
  .indi-calc-module #food-details {
    display: none; }
    .indi-calc-module #food-details input {
      width: 300px; }
    .indi-calc-module #food-details label {
      margin-bottom: 1px; }
    .indi-calc-module #food-details .input-row {
      margin-bottom: 10px;
      overflow: hidden; }
      .indi-calc-module #food-details .input-row .half {
        width: 145px;
        float: left; }
        .indi-calc-module #food-details .input-row .half:first-child {
          margin-right: 10px; }
        .indi-calc-module #food-details .input-row .half input {
          width: 145px; }

.indi-report-module, .smooth-it-report-module {
  background-color: #ead8f0; }
  .indi-report-module #food-general, .smooth-it-report-module #food-general {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-color: #ccc;
    border-style: solid;
    margin-bottom: 10px;
    overflow: hidden; }
    .indi-report-module #food-general h3, .smooth-it-report-module #food-general h3 {
      margin-top: 0; }
    .indi-report-module #food-general .left-box, .smooth-it-report-module #food-general .left-box {
      float: left;
      width: 140px; }
    .indi-report-module #food-general .right-box, .smooth-it-report-module #food-general .right-box {
      float: right; }
  .indi-report-module .response-panel, .smooth-it-report-module .response-panel {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px; }
    .indi-report-module .response-panel #nutrients-table, .smooth-it-report-module .response-panel #nutrients-table {
      margin-bottom: 0; }
      .indi-report-module .response-panel #nutrients-table .values-col, .smooth-it-report-module .response-panel #nutrients-table .values-col {
        width: 140px; }
      .indi-report-module .response-panel #nutrients-table .value-cell, .smooth-it-report-module .response-panel #nutrients-table .value-cell {
        padding: 0; }
      .indi-report-module .response-panel #nutrients-table .group-label, .smooth-it-report-module .response-panel #nutrients-table .group-label {
        background-color: #ccc;
        padding-left: 15px; }
      .indi-report-module .response-panel #nutrients-table .n_full, .smooth-it-report-module .response-panel #nutrients-table .n_full {
        display: none; }
      .indi-report-module .response-panel #nutrients-table tr td, .indi-report-module .response-panel #nutrients-table tr th, .smooth-it-report-module .response-panel #nutrients-table tr td, .smooth-it-report-module .response-panel #nutrients-table tr th {
        padding: 3px 7px;
        color: #000; }
        .indi-report-module .response-panel #nutrients-table tr td.value-cell .cell-histogram, .indi-report-module .response-panel #nutrients-table tr th.value-cell .cell-histogram, .smooth-it-report-module .response-panel #nutrients-table tr td.value-cell .cell-histogram, .smooth-it-report-module .response-panel #nutrients-table tr th.value-cell .cell-histogram {
          position: absolute;
          height: 26px;
          background-color: #c0d8f0; }
        .indi-report-module .response-panel #nutrients-table tr td.value-cell .cell-content, .indi-report-module .response-panel #nutrients-table tr th.value-cell .cell-content, .smooth-it-report-module .response-panel #nutrients-table tr td.value-cell .cell-content, .smooth-it-report-module .response-panel #nutrients-table tr th.value-cell .cell-content {
          position: absolute;
          width: 140px;
          padding: 3px 7px 2px 7px; }
          .indi-report-module .response-panel #nutrients-table tr td.value-cell .cell-content .left, .indi-report-module .response-panel #nutrients-table tr th.value-cell .cell-content .left, .smooth-it-report-module .response-panel #nutrients-table tr td.value-cell .cell-content .left, .smooth-it-report-module .response-panel #nutrients-table tr th.value-cell .cell-content .left {
            float: left; }
          .indi-report-module .response-panel #nutrients-table tr td.value-cell .cell-content .right, .indi-report-module .response-panel #nutrients-table tr th.value-cell .cell-content .right, .smooth-it-report-module .response-panel #nutrients-table tr td.value-cell .cell-content .right, .smooth-it-report-module .response-panel #nutrients-table tr th.value-cell .cell-content .right {
            float: right; }

/************   Smooth-it   ************/
.smooth-it-module {
  background-color: #d8e4f0; }
  .smooth-it-module .indi-food-container {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #555; }
    .smooth-it-module .indi-food-container .food-select {
      min-width: 300px;
      max-width: 100%; }
    .smooth-it-module .indi-food-container .food-select-row {
      margin-bottom: 10px; }
    .smooth-it-module .indi-food-container .food-params input {
      width: 300px; }
    .smooth-it-module .indi-food-container .food-params label {
      margin-bottom: 1px; }
    .smooth-it-module .indi-food-container .food-params .input-row {
      margin-bottom: 10px;
      overflow: hidden; }
      .smooth-it-module .indi-food-container .food-params .input-row .half {
        width: 145px;
        float: left; }
        .smooth-it-module .indi-food-container .food-params .input-row .half:first-child {
          margin-right: 10px; }
        .smooth-it-module .indi-food-container .food-params .input-row .half input {
          width: 145px; }
  .smooth-it-module .submit-container #calc {
    margin-left: 110px; }

.smooth-it-report-module {
  background-color: #d8e4f0; }

/*# sourceMappingURL=style.css.map */
